<%- include ("partials/header.ejs"); %>

<h1>This is <%= campground.name %></h1>
<div class="thumbnail"><img src="<%= campground.image %>"></div>

<p><%= campground.description %></p>

<%- include ("partials/footer.ejs"); %>